# Direct php to html redirects
Redirect 301 /Comment.php /comment.html
Redirect 301 /Download.php /download.html
Redirect 301 /Dwarf3Std.php /dwarf3std.html
Redirect 301 /Dwarf4Std.php /dwarf4std.html
Redirect 301 /DWARF5PressRelease.php /dwarf5-press-release.html
Redirect 301 /Dwarf5Std.php /dwarf5std.html
Redirect 301 /Languages.php /languages.html
Redirect 301 /LanguagesV6.php /languages-v6.html
Redirect 301 /Members.php /members.html
Redirect 301 /Organization.php /organization.html
Redirect 301 /Submissions.php /submissions.html

# Old html pages/redirects had slightly different names
Redirect 301 /Comment.html /comment.html
Redirect 301 /Download.html /download.html
Redirect 301 /Dwarf3Std.html /dwarf3std.html
Redirect 301 /Dwarf4Std.html /dwarf4std.html
Redirect 301 /DWARF5PressRelease.html /dwarf5-press-release.html
Redirect 301 /Dwarf5Std.html /dwarf5std.html
Redirect 301 /Languages.html /languages.html
Redirect 301 /LanguagesV6.html /languages-v6.html
Redirect 301 /Members.html /members.html
Redirect 301 /Organization.html /organization.html
Redirect 301 /Submissions.html /submissions.html

# There used to be a form to collect names and addresses
# to download the spec, just redirect directly to the spec.
Redirect 301 /DownloadDwarf5.php /doc/DWARF5.pdf

# Home.php is just the root (index.html) page
Redirect 301 /Home.php /

# Issues.php?issues=closed(2|3|4) are lists of issues for Dwarf[3|4|5]
RewriteEngine On
RewriteCond %{QUERY_STRING} ^type=closed([234]) [NC]
RewriteRule ^Issues\.php$ /issues-closed%1.html [L,NE,QSD,R=301]

# Now move the closed issues to their final place
Redirect 301 /issues-closed2.html /issues-v3.html
Redirect 301 /issues-closed3.html /issues-v4.html
Redirect 301 /issues-closed4.html /issues-v5.html

# Issues.php?type=open is just the (current) issues list.
RewriteCond %{QUERY_STRING} ^type=open [NC]
RewriteRule ^Issues\.php$ /issues.html [L,NE,QSD,R=301]

# And finally the (open) issues page itself
Redirect 301 /Issues.php /issues.html

# Redirect ShowIssue.php?issue=xyz to issues/xyz.html
RewriteCond %{QUERY_STRING} ^issue=(.+) [NC]
RewriteRule ^ShowIssue\.php$ /issues/%1.html [L,NE,QSD,R=301]
