<ul>
	<li><a href="{{root}}/index.html">Home</a></li>
	<li>DWARF Standards
	<ul>
		<li><a href="{{root}}/download.html">Download</a></li>
		<li><a href="{{root}}/languages.html">Current Language Codes</a></li>
	</ul>
	</li>
	<li>Public Comment
	<ul>
		<li><a href="{{root}}/comment.html">Submit a Comment</a></li>
		<li><a href="{{root}}/submissions.html">Submission Guidelines</a></li>
		<li><a href="{{root}}/issues.html">Issues</a></li>
	</ul>
	</li>
	<li>About the Committee
	<ul>
		<li><a href="{{root}}/members.html">Members</a></li>
		<li><a href="{{root}}/bylaws.html">Bylaws</a></li>
		<li><a href="{{root}}/code-of-conduct.html">Code of Conduct</a></li>
		<li><a href="{{root}}/member-agreement.html">Membership Agreement</a></li>
		<li><a href="{{root}}/procedures.html">Committee Procedures</a></li>
	</ul>
	</li>
</ul>
