<ul>
	<li><a href="{{root}}/index.html">Home</a></li>
	<li>The DWARF Standard
	<ul>
		<li><a href="{{root}}/dwarf5std.html">DWARF Version 5</a></li>
		<li><a href="{{root}}/languages.html">Assigned Language Codes</a></li>
		<li><a href="{{root}}/issues.html">Current Issues</a></li>
		<li><a href="{{root}}/submissions.html">Submission Guidelines</a></li>
		<li><a href="https://lists.dwarfstd.org/mailman/listinfo/dwarf-discuss">Mailing List</a></li>
		<li><a href="{{root}}/comment.html">Submit a Comment</a></li>
		<li><a href="{{root}}/download.html">Downloads</a></li>
	</ul>
	</li>
	<li>About the DWARF Committee
	<ul>
		<li><a href="{{root}}/members.html">Members</a></li>
		<li><a href="{{root}}/bylaws.html">Bylaws</a></li>
		<li><a href="{{root}}/code-of-conduct.html">Code of Conduct</a></li>
		<li><a href="{{root}}/member-agreement.html">Membership Agreement</a></li>
		<li><a href="{{root}}/procedures.html">Procedures</a></li>
	</ul>
	</li>
</ul>
